/* /////////////////////////////////////////////////////////
//////////////Universal
/////////////////////////////////////// */
* { 
color: gold;
}

h2,h1{
    font-family: 'Grandstander', cursive;
    text-shadow: rgb(86, 69, 66) .8px .8px;
}

h4,h3{
    text-shadow: rgb(86, 69, 66) .8px .8px;
}
h4{
 line-height: 90%    
}
/* //////////fonts */
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,500&display=swap');
/* ////////////////////////////////////////////////
/////////////////// header
//////////////////////////////////////////// */
.logo {
    height: 12vw;
    max-height: 20vh;
    min-height: 14vh;
}
.icon{
    height: 7vh;
    background-color: darkgrey;
    border-radius: 50%;
   }
.navbar {
    position: fixed;
    top: 1%;
    z-index: 9;
    width: 100vw;
    /* background: rgba(19, 18, 18, 0.49); */
    background-image: url(./visuals/clouds4.webp);
    background-size: 130% 80%;
    background-repeat: no-repeat;
    height: 12vh;
}

/* ///////////////////////////////////////////////////////////////
//////////////////////////// intro 
/////////////////////////////////////////// */
.about {
    text-align: center;
    margin: 10vh 5vw 0 20vw;
    background-color: rgba(26, 34, 73, 0.891);
    border-radius: 30px;
    min-height: 35vh;
    max-height: 60vh;
    min-width: 60vw;
    padding: 2%;
}
.hello{
    text-align: left;
}
.aboutText{
    text-align: right;
    font-size: 2.5vw;
   
}
.avatar{
    height: 65vh;
  float: left;
  padding: 0;
 
}
.meet{
    font-size: 3vw;
}
.clouds{
    height: 100vh;
      color: rgba(84, 73, 73, 0.904);
    background: url(./visuals/cloud3.png) repeat top center blue;
    padding: 5% 0 5% 0;
  animation:move-clouds-back 200s linear infinite;
}
@keyframes move-clouds-back {
    from {background-position:10000px 0;}
    to {background-position: 0;}
}
/* ///////////////////////////////////////////////////////////
/////////////////////////projects
//////////////////////////////////////// */

.dStar{
position: absolute;
left:42vw;
top:130vh;
width: 15vw;
z-index: 2;
}

.proBg{
    background-image: url(./visuals/sun.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    height: 115vh;
    background-color: black;
}

.proTitle{
    text-align: center;
    font-size: 5vw;
    z-index: 999;
    color: rgb(38, 109, 209);
    text-shadow: silver 1px 1px;
}
.clusterTitle{
    text-align: center;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 3vh;
    /* text-shadow:silver 1px 1px; */
    font-size: 2vw;
    width: 25vw;
    color: gold;
    background-color: black;
   
}

.probutton{
    border-radius:0 0 10px 10px;
    width: 25vw;
    height: 2.8vw;
    line-height: .3vw;
    background-color: rgba(78, 75, 75, 0.844);
    font-weight: 400;
    font-size: 1.5vw;
    color: gold;
    border-style: ridge;
    border-width: 4px;
   position: relative;
   top: -3vh;
    }
.proGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    margin: 0% 10% 20% 10%;
    }
.proImage{
    border-style: solid;
    border-width: 3%;
    border-color: rgb(9, 86, 111);
    width: 20vw;
    height: 20vw;
    border-radius: 10px;
    background-color: rgba(15, 15, 78, 0.972); 
}
.ProCluster{
    width: 20vw;

}
.pcRight{
    margin-left: 30%;
}
/* ///////////////cluster planets */
.nerd{
    background-image: url(./visuals/NVcrest.webp);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.sloshed{
    background-image: url('./visuals/wood.webp');
}
#sloshed{
font-size: 3vw;
color: black;
font-weight: 900;
font-family: stardos stencil;
padding: 4vh 10%;
text-align: center;
}
.burger{
    background-image: url('./visuals/burgerIcon.webp');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.emp{
    background-image: url('./visuals/list.png');
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}
#emp{
    font-size: 4.5vw;
    line-height: 90%;
    color: green;
    text-shadow: black 1px 3px;
    font-weight: 900;
    font-family: stardos stencil;
    padding: 20% 10%;
    text-align: center;
    }
/* /////////////////////////////////////////////////////   //////
////////////////////Contact
/////////////////////////////////////////////////     */
.contact{
    margin-top: 2vh;
}
form{
    background-color: black;
    width: 85vw;
    margin: 3vh 5vw;
    font-size: 1.7vw;
   padding: 0 4%;
}

.conMe{
    /* margin: -2vh 0; */
    margin-left: 17vw;
    font-size: 3vw;
    font-weight: 500;
    background-color: black;
    border-style: double;
    border-radius: 15px;
    border-color: black;
    padding: 5px;
}





/* /////////////////////////////////////////////////////////////////
////////////////responsive corrections
////////////////////////////////////////////////// */
  

/* ------------------------------------------------------------------ */
/* ---------------------------------------------effects   */
/* -------------------------------------------------------------------------- */





