/* /////////////////////////////////////////////////////////
//////////////Universal
/////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');
@font-face {
    font-family:Grandstander ;
    src: url('./Fonts/Grandstander-Italic-VariableFont_wght.ttf');
    font-weight: 600;
  }
* { 
color: gold;
}

h2,h1{
    font-family: 'Grandstander', cursive;
    font-size: 4vw;
}


h4{
 line-height: 90%    
}
.control-button{
    background-color: royalblue;
    border-style: solid;
}
/* //////////fonts */

/* ////////////////////////////////////////////////
/////////////////// header
//////////////////////////////////////////// */
.logo {
    height: 12vw;
    max-height: 20vh;
    min-height: 10vh;
}
.icon{
    height: 5vw;
    background-color: darkgrey;
    border-radius: 50%;
    background-color: white;
   }
.navbar {
    position: fixed;
    top: 1%;
    z-index: 9;
    width: 100vw;
    /* background: rgba(19, 18, 18, 0.49); */
    background-image: url(./visuals/clouds4.webp);
    background-size: 130% 80%;
    /* background-repeat: no-repeat; */
    height: 12vh;
    animation:move-clouds-back 300s linear infinite;
}

/* ///////////////////////////////////////////////////////////////
//////////////////////////// intro 
/////////////////////////////////////////// */
.intro{
    background-color: rgba(15, 15, 78, 0.972);
    height: 100vh;
}
.about {
    text-align: center;
    position: absolute;
    right: 10vw;
    top: 2vh;
    width: 60vw;
    padding: 2%;
    text-shadow: black 2px 1px
}
.hello{
    text-align: left;
    
}
.aboutText{
    text-align: right;
    font-size: 3vw;
    background-color: rgba(84, 73, 73, 0.612);
}
.avatar{
    height: 65vh;
  position: absolute;
  left: 10%;
  top: 20%;
  padding: 0;
 
}
.meet{
    margin-bottom: 10%;
}
.clouds{
    height: 100vh;
      color: rgba(84, 73, 73, 0.904);
    background: url(./visuals/clouds4.webp) repeat top center;
    padding: 5% 0 5% 0;
  animation:move-clouds-back 30s linear infinite;
}
@keyframes move-clouds-back {
    from {background-position:1000px 0;}
    to {background-position: -1000px;}
}
/* ///////////////////////////////////////////////////////////
/////////////////////////projects
//////////////////////////////////////// */



.proBg{
    height: 115vh;
    background-color: black;
}

.proTitle{
    background-image: url(./visuals/deathStar.webp);
    background-size: auto 100%;
    background-repeat: space 10vw;
    text-align: center;
    font-size: 10vh;
    z-index: 999;
    color: rgb(38, 109, 209);
    text-shadow: silver 1px 1px;
    background-color: black;
}
.clusterTitle{
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-size: auto;
    width: 100%;
    color: rgb(38, 109, 209);
    background-color: black;
    z-index: 3;
    text-shadow: silver .5px .5px;
}

.probutton{
    border-radius:0 0 10px 10px;
    width: 100%;
    height: 3.2vw;
    line-height: .3vw;
    background-color: black;
    font-weight: 400;
    font-size: 1.5vw;
    color: gold;
    border-style: ridge;
    border-width: 4px;
    border-color: rgb(38, 109, 209);
   position: absolute;
   bottom: 0;
    }
.projects{
    position: relative;
}
.proGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5vh;
    grid-column-gap: 10px;
   margin-top: 10% ;
    }
.proImage{
    border-style: solid;
    border-width: 3%;
    border-color: rgb(9, 86, 111);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(15, 15, 78, 0.972); 
}
.ProCluster{
    width: 30vh;
    height: 30vh;
    position: relative;
    margin-right: 20px;
}
.proMargin{
    width: 35vh;
}

/* ///////////////cluster planets */
.nerd{
    background-image: url(./visuals/NVcrest.webp);
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.sloshed{
    background-image: url('./visuals/wood.webp');
}
#sloshed{
    font-size: 5vh;
    line-height: 80%;
color: black;
font-weight: 900;
font-family: stardos stencil;
padding: 5% 10px;
text-align: center;
}
.burger{
    background-image: url('./visuals/burgerIcon.webp');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.emp{
    background-image: url('./visuals/list.png');
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}
#emp{
    font-size: 7vh;
    line-height: 90%;
    color: green;
    text-shadow: black 1px 3px;
    font-weight: 900;
    font-family: stardos stencil;
    padding: 10% 10%;
    text-align: center;
    }
.proSlide{
    max-width: 85vw;
    margin: 10vh 20vw;
}





/* /////////////////////////////////////////////////////   //////
////////////////////Contact
/////////////////////////////////////////////////     */
.contact{
    margin-top: 2vh;
    background-image: url('./visuals/sun.webp');
    background-repeat: no-repeat;
    background-color: rgb(69, 11, 11);
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}
form{
    background-color: black;
    width: 80vw;
    margin: 10vh 10vw;
    font-size: 1.7vw;
   padding: 0 4%;
}


.conMe{
    /* margin: -2vh 0; */
    margin-left: 15vw;
    font-weight: 500;
    background-color: black;
    border-style: double;
    border-radius: 15px;
    border-color: gold;
    padding: 5px;
    color: gold;
    font-size: 3vw;
}
.love{
    background-color: rgb(0, 0, 0);
    width: max-content;
    max-width: 60vw;
    margin-left: 25vw;
    text-shadow: silver .5px .5px;
    border-radius: 30%;
}
/* body{
    background-image: url(./visuals/curioso-photography-MGbX2v0c3e4-unsplash.jpg);
    background-size: 100% 100%;
    height: 100vh;
} */
.submit{
    width: 60%;
    margin: 0 20%;
    color: gold;
}
.text{
    height: 40vh ;
    overflow-y: scroll;
   
}


/* /////////////////////////////////////////////////////////////////
////////////////responsive corrections
////////////////////////////////////////////////// */  
  @media only screen and (max-width: 600px) {
    .proMargin{
        width: 23vh;
    }
    .ProCluster{
        width: 22vh;
        height: 22vh;
    }
    .clusterTitle{
        font-size: 2.5vw;
    }
    form{
        margin: 10px 10vw;
    }
    .icon{
        height: 7vw;
    }
    .aboutText{
        font-size: 5vw;
    }
    .avatar{
        height: 70vh;
    }
    .text{
        height: 20vh;
    }
    .love{
        font-size: 5vh;
       max-width: 100vw;
       margin: 10px auto;

    }
    .proTitle{
        font-size: 9vw;
    }
    .about{
        margin-top: 5vh;
    }
    
  }   

  @media only screen and (max-width: 460px) {
    .proMargin{
        width: 34vw;
    }
    .ProCluster{
        width: 30vw;
        height: 30vw;
    } 
    .proSlide{
        max-width: 95vw;
        margin: 20vh auto;
    }   
    #sloshed{
        font-size: 6vw;
    }
    #emp{
        font-size: 7vw;
    }
    
    .proTitle{
           height: 10vh;
           line-height: 10vh;
        }
        
       
        .love{
           font-size: 3vh;
           margin-top: 15%;
        }
        .logo{
        height: 10vh;
        margin-left: -5px;
        }
        .icon{
            height: 10vw;
        }
       .linkage{
           margin-right: -5vw;
       }
       .about{
           margin-top: 12vh;
          width: 80vw;
           
       }
       .avatar{
           width: 35vw ;
       }
       .aboutText{
          text-align: left;
            width: 55vw;
            position: absolute;
            right: 0vw;
       }
       .hello{
           font-size: 9vw;
       }
       .meet{
           font-size: 7vw;
       }
    } 







