body{
    background-image: url('../../visuals/stars2.png');
    background-color:black;
}
.projects{
    background-image: url('../../visuals/sun.png');
    background-size: auto 80vw;
    background-repeat: no-repeat;
}
*{
    color: rgb(146, 146, 30);
    font-weight: 400;
    
}
.Protitle{
    width: 30vw;
    height: 30vw;
    margin: 0vh 33vw 0 33vw;
    line-height: 30vw;
    padding: 0;
    text-align: center;
    background-image: url('../../visuals/deathStar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-shadow: rgb(86, 69, 66) .8px .8px;
    color: gold;
}

.proImage{
    width: 100%;
    height: auto;
   
    margin: 0%;
}

.probutton{
    border-radius: 10px;
    margin: 3px 25%;
    
}
h5{
    font-size: 20px;
    margin: 2px;
}
.ProCluster{
    border-style: ridge  ;
    border-width: 10px;
    border-color: rgba(30, 30, 65, 0.973);
    background-color: black;
    padding: 10px;
    width: 30vw;
    margin-left: 2vw;
}

.proGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    }

    @media screen and (max-width: 700px) {
        .proGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 15px;
            } 
        .ProCluster {
            width: 45vw;
        }     
    }

    @media screen and (max-width: 460px) {
        .proGrid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 15px;
            } 
        .ProCluster {
            width: 80vw;
        }
        .proImage{
            width: 80%;
            height: auto;
            margin: auto 10%;
        }     
    }