
h1, .aboutText {
    color: gold;
    font-weight: 300;
    
}

.about {
    color: honeydew;
    background: rgba(105, 105, 105, 0.226);
    text-align: center;
     position: relative;
    top: 22vh; 
    width: 80vw;
    max-height: 75vh;
    margin: 0 10vw;
    border-radius: 15px;
    padding: 0 10px;
    text-shadow: black 2px 2px;
    overflow: scroll;
   
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.avatar{
    height: 40vh;
  float: left;
  padding: 0;
  border: 0;
}
.intro{
    display: inline-block;

}

/* -----------stars and clouds effect------------ */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
.stars, .twinkling, .clouds {
  position: relative;;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}
.clouds{
    height: auto;
    position: absolute;
    top: 0%;
}
.stars {
    background:#000 url(../../visuals/stars2.png) repeat top center;
    z-index:0;
  }
  .twinkling{
    background:transparent url(../../visuals/twinkling.png) repeat top center;
    z-index:1;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }
.clouds{
    background: url(../../visuals/clouds6wave.png) repeat top center;
    background-size: 100% 100%;
    background-repeat: repeat-x;
    height: 110%;
    z-index:3;
  -moz-animation:move-clouds-back 1200s linear infinite;
  -ms-animation:move-clouds-back 1200s linear infinite;
  -o-animation:move-clouds-back 1200s linear infinite;
  -webkit-animation:move-clouds-back 1200s linear infinite;
  animation:move-clouds-back 1200s linear infinite;
}

