body{
    background-image: url('../../visuals/stars2.png');
    background-color:black;
}
.projects{
    background-image: url('../../visuals/sun.png');
    background-size: auto 80vw;
    background-repeat: no-repeat;
}
*{
    color: rgb(146, 146, 30);
    font-weight: 400;
    
}
.Protitle{
    width: 30vw;
    height: 30vw;
    margin: 0vh 33vw 0 33vw;
    line-height: 30vw;
    padding: 0;
    text-align: center;
    font-size: 14vw;
    background-image: url('../../visuals/deathStar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-shadow: black 1px 1px;
}

.proImage{
    width: 100%;
    height: 100%;
    margin: 0%;
}
.proBox{
    background-color: rgba(128, 128, 128, 0.884);
    padding: 0%;
    color: black;
    /* margin-left:  10vw; */
    margin-top: 5vh;
    padding: 3px;
    max-width: 35vw;
   }
.probutton{
    float: right;
    border-radius: 10px;
    margin: 5px;
    
}
h5{
    font-size: 20px;
    margin: 2px;
}
.ProCluster{
    border-style: ridge  ;
    border-width: 10px;
    border-color: rgba(30, 30, 65, 0.973);
    background-color: black;
    padding: 0%;
    height: auto;
    margin: 5vh 0;
}