.contact{
    /* background-image: url('https://cdn4.explainthatstuff.com/satellitedishantenna.jpg');
    background-size: 100% 100%; */
    background-color: rgba(146, 146, 30, 0.788);;
    width: 70vw;
    margin:  10vw;
}
h3{
    color: rgb(33, 33, 230) ;
    text-shadow: rgba(73, 67, 67, 0.884) 2px 2px;
}



















  
  
  